.sticky{
  background: #F7FBFA;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  padding: 22px 0px;
  border-bottom: 1px solid var(--Neutral3);
}

.nav img {
  padding-right: 32px;
  border-right: 1px solid var(--Neutral3);
}

.nav .links {
  display: flex;
  gap: 60px;
  align-items: center;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: var(--Neutral7);
}

.nav .links a span:last-child {
  display: none;
}

.nav .links button {
  width: 205px;
  height: 48px;
  border: 2px solid var(--Neutral7);
  background: transparent;
  border-radius: 4px;

  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  cursor: pointer;
}

.nav .btn {
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
  display: none;
  width: 24px;
}

.nav .btn div {
  width: 100%;
  height: 3px;
  background: #3c2c2d;
  border-radius: 4px;
}

.nav .btn div:last-child {
  width: 70%;
}

@media (max-width: 768px) {
  .nav {
    width: 85%;
    /* position: relative; */
  }

  .nav img {
    border: none;
  }

  .nav .links {
    display: flex;
    width: 100%;
    height: 100vh;
    background: #010101d9;
    backdrop-filter: blur(8px);
    gap: 0;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 99;
    color: #e1e2e2;

    opacity: 0;
    transform: translateY(100%);
    transition: 0.3s ease-in-out;
  }

  .nav .links a {
    display: flex;
    justify-content: space-between;
  }

  .nav .links a span:last-child {
    display: inline-block;
  }

  .nav .btn {
    display: flex;
    position: relative;
    z-index: 9999999;
  }

  .nav .links a {
    padding: 24px;
    border-bottom: 1px solid #202025;
    width: 100%;
    text-transform: none;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #e1e2e2;
  }

  .nav .links a:first-child span:first-child {
    position: relative;
    font-weight: bolder;
    background: linear-gradient(
      to right,
      #5fff5c,
      #ffe249,
      #f35950,
      #7c5bff,
      #1ce4ff,
      #5fff5c,
      #ffe249
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .nav .links a:first-child span:first-child:before {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(
      #5fff5c -18.66deg,
      #ffe249 22.23deg,
      #f35950 78.14deg,
      #7c5bff 159deg,
      #1ce4ff 202.32deg,
      #5fff5c 341.34deg,
      #ffe249 382.23deg
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
  }

  .nav .links button {
    width: 100%;
    height: 60px;
    background: white;
    border: none;
    align-self: center;
    position: absolute;
    bottom: 25px;
    width: 90%;
    color: var(--Neutral7);
  }

  .nav .btn div{
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
  }

  /* When Hamburger btn is clicked */
  .nav .links.active {
    opacity: 1;
    transform: translateY(0px);
    transition: 0.3s ease-in-out;
  }

  .nav .btn.active {
    position: fixed;
    width: 32px;
    height: 32px;
    right: 20px;
    top: 48px;
  }

  .nav .btn.active div {
    transition: all 0.3s ease-in-out;
    background: #f7fbfa;
  }

  .nav .btn.active div:first-child {
    transform: rotate(47deg);
    position: absolute;
  }

  .nav .btn.active div:last-child {
    transform: rotate(133deg);
    position: absolute;
    width: 100%;
  }
}
